In [1]:
import pandas as pd
import numpy as np

import re

In [2]:
data = pd.read_csv('../Data/training_set_rel3.tsv', sep='\t', encoding='mac_roman', index_col='essay_id')
data

,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
essay_id,,,,,,,,,,,,,,,,,,,,,
1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,NaN,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,NaN,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,NaN,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,"Dear @LOCATION1, I know having computers has a...",4,4,NaN,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21626,8,In most stories mothers and daughters are eit...,17,18,NaN,35,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21628,8,I never understood the meaning laughter is th...,15,17,NaN,32,NaN,NaN,NaN,3.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20,26,40.0,40,NaN,NaN,NaN,4.0,...,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0
21630,8,Trippin' on fen...,20,20,NaN,40,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
21633,8,Many people believe that laughter can improve...,20,20,NaN,40,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = data[data['essay_set'].isin((1, 2, 7, 8))]
data

,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
essay_id,,,,,,,,,,,,,,,,,,,,,
1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,NaN,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,NaN,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,NaN,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,"Dear @LOCATION1, I know having computers has a...",4,4,NaN,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21626,8,In most stories mothers and daughters are eit...,17,18,NaN,35,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21628,8,I never understood the meaning laughter is th...,15,17,NaN,32,NaN,NaN,NaN,3.0,...,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",20,26,40.0,40,NaN,NaN,NaN,4.0,...,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0
21630,8,Trippin' on fen...,20,20,NaN,40,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
21633,8,Many people believe that laughter can improve...,20,20,NaN,40,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'rater3_domain1', 'domain1_score', 'rater1_domain2', 'rater2_domain2',
       'domain2_score', 'rater1_trait1', 'rater1_trait2', 'rater1_trait3',
       'rater1_trait4', 'rater1_trait5', 'rater1_trait6', 'rater2_trait1',
       'rater2_trait2', 'rater2_trait3', 'rater2_trait4', 'rater2_trait5',
       'rater2_trait6', 'rater3_trait1', 'rater3_trait2', 'rater3_trait3',
       'rater3_trait4', 'rater3_trait5', 'rater3_trait6'],
      dtype='object')

In [5]:
data = data[['essay_set', 'essay', 'domain2_score']]
data

,essay_set,essay,domain2_score
essay_id,,,
1,1,"Dear local newspaper, I think effects computer...",NaN
2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",NaN
3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",NaN
4,1,"Dear Local Newspaper, @CAPS1 I have found that...",NaN
5,1,"Dear @LOCATION1, I know having computers has a...",NaN
...,...,...,...
21626,8,In most stories mothers and daughters are eit...,NaN
21628,8,I never understood the meaning laughter is th...,NaN
21629,8,"When you laugh, is @CAPS5 out of habit, or is ...",NaN
21630,8,Trippin' on fen...,NaN
21633,8,Many people believe that laughter can improve...,NaN

In [6]:
unnamers_aug = set()
for _, row in data.iterrows():
    unnamers_aug |= set(re.findall(r'@[A-Z]+[1-9]+', row['essay']))
unnamers_aug

{'@CAPS1',
 '@CAPS11',
 '@CAPS12',
 '@CAPS13',
 '@CAPS14',
 '@CAPS15',
 '@CAPS16',
 '@CAPS17',
 '@CAPS18',
 '@CAPS19',
 '@CAPS2',
 '@CAPS21',
 '@CAPS22',
 '@CAPS23',
 '@CAPS24',
 '@CAPS25',
 '@CAPS26',
 '@CAPS27',
 '@CAPS28',
 '@CAPS29',
 '@CAPS3',
 '@CAPS31',
 '@CAPS32',
 '@CAPS33',
 '@CAPS34',
 '@CAPS35',
 '@CAPS36',
 '@CAPS37',
 '@CAPS38',
 '@CAPS39',
 '@CAPS4',
 '@CAPS41',
 '@CAPS43',
 '@CAPS44',
 '@CAPS46',
 '@CAPS48',
 '@CAPS49',
 '@CAPS5',
 '@CAPS52',
 '@CAPS53',
 '@CAPS54',
 '@CAPS55',
 '@CAPS56',
 '@CAPS59',
 '@CAPS6',
 '@CAPS61',
 '@CAPS62',
 '@CAPS63',
 '@CAPS66',
 '@CAPS67',
 '@CAPS7',
 '@CAPS71',
 '@CAPS73',
 '@CAPS74',
 '@CAPS76',
 '@CAPS77',
 '@CAPS8',
 '@CAPS9',
 '@CITY1',
 '@DATE1',
 '@DATE2',
 '@DATE3',
 '@DATE4',
 '@DATE5',
 '@DATE6',
 '@DR1',
 '@DR2',
 '@EMAIL1',
 '@LOCATION1',
 '@LOCATION11',
 '@LOCATION12',
 '@LOCATION2',
 '@LOCATION3',
 '@LOCATION4',
 '@LOCATION5',
 '@LOCATION6',
 '@LOCATION7',
 '@LOCATION8',
 '@LOCATION9',
 '@MONEY1',
 '@MONEY2',
 '@MONEY3',
 '@MONEY4',
 '@MONTH1',
 '@NUM1',
 '@NUM11',
 '@NUM12',
 '@NUM13',
 '@NUM2',
 '@NUM3',
 '@NUM4',
 '@NUM5',
 '@NUM6',
 '@NUM7',
 '@NUM8',
 '@NUM9',
 '@ORGANIZATION1',
 '@ORGANIZATION2',
 '@ORGANIZATION3',
 '@ORGANIZATION4',
 '@ORGANIZATION5',
 '@ORGANIZATION6',
 '@PERCENT1',
 '@PERCENT2',
 '@PERCENT3',
 '@PERCENT4',
 '@PERCENT5',
 '@PERCENT6',
 '@PERCENT7',
 '@PERSON1',
 '@PERSON2',
 '@PERSON3',
 '@PERSON4',
 '@PERSON5',
 '@PERSON6',
 '@PERSON7',
 '@PERSON8',
 '@PERSON9',
 '@STATE1',
 '@TIME1',
 '@TIME2',
 '@TIME3',
 '@TIME4'}

In [7]:
aug_data = data

In [8]:
orig_data = pd.read_csv('../Data/train.csv')
orig_data

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5
...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5

In [9]:
unnamers_orig = set()
for _, row in orig_data.iterrows():
    unnamers_orig |= set(re.findall(r'[a-zA-Z]+\_[a-zA-Z]+', row['full_text']))
unnamers_orig

{'CLASS_NAME',
 'Generic_City',
 'Generic_Citynbsp',
 'Generic_Name',
 'Generic_Namea',
 'Generic_Namehad',
 'Generic_School',
 'Generic_school',
 'Genric_Name',
 'HOTEL_NAME',
 'LANGUAGE_NAME',
 'LOCATION_NAME',
 'OTHER_NAME',
 'PROEPR_NAME',
 'PROPER_NAME',
 'RESTAURANT_NAME',
 'SCHOOL_NAME',
 'STORE_NAME',
 'STUDENT_NAME',
 'TEACHER_NAME',
 'four_day',
 'orGeneric_City',
 'selfGeneric_Name',
 'wasGeneric_Name'}

In [10]:
unnaming_mapping = {
    '@CAPS': 'Generic_Name',
    '@CITY': 'Generic_City',
    '@DATE': '', # rule based, replace with random date
    '@DR': 'Generic_Name',
    '@EMAIL': '',
    '@LOCATION': 'LOCATION_NAME',
    '@MONEY': 'OTHER_NAME',
    '@NUM': '', # random num
    '@ORGANIZATION': 'OTHER_NAME',
    '@PERCENT': '', #random num
    '@PERSON': 'Generic_Name',
    '@STATE': 'LOCATION_NAME',
    '@TIME': '',
}

In [11]:
for old_name, new_name in unnaming_mapping.items():
    aug_data.loc[:, 'essay'] = aug_data['essay'].str.replace(fr'{old_name}[1-9]+', new_name, regex=True)
aug_data

/var/folders/tn/_r_b9n8d0bg1fzccsh7yq_sc0000gn/T/ipykernel_3556/918946961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aug_data.loc[:, 'essay'] = aug_data['essay'].str.replace(fr'{old_name}[1-9]+', new_name, regex=True)

,essay_set,essay,domain2_score
essay_id,,,
1,1,"Dear local newspaper, I think effects computer...",NaN
2,1,"Dear Generic_Name Generic_Name, I believe that...",NaN
3,1,"Dear, Generic_Name Generic_Name Generic_Name M...",NaN
4,1,"Dear Local Newspaper, Generic_Name I have foun...",NaN
5,1,"Dear LOCATION_NAME, I know having computers ha...",NaN
...,...,...,...
21626,8,In most stories mothers and daughters are eit...,NaN
21628,8,I never understood the meaning laughter is th...,NaN
21629,8,"When you laugh, is Generic_Name out of habit, ...",NaN
21630,8,Trippin' on fen...,NaN
21633,8,Many people believe that laughter can improve...,NaN

In [12]:
aug_data_sample = aug_data.groupby(['essay_set']).sample(250, random_state=42).rename({'essay': 'full_text'}, axis=1)['full_text']
aug_data_sample

essay_id
827      I think computers have a postitive affect on p...
1477     I blive that computers have a lot of effects o...
234      Many people think that computers are not a goo...
801      Dear Newspaper people, Generic_Name you might ...
780      More and more people are using computers on a ...
                               ...
21348      In all of our lives there is that one person...
21075     Side by side with my best friend Generic_Name...
21233                                Laughter Generic_N...
21321     My friends and I have a relationship that can...
20762     Laughter is always the key to complete happin...
Name: full_text, Length: 1000, dtype: object

In [13]:
aug_data_sample.to_csv('../Data/aug_data_sample.csv', index=False)

In [15]:
aug_data[['essay']].rename({'essay': 'full_text'}, axis=1).to_csv('../Data/aug_data.csv', index=False)